html{
    --primary-color:#1c1917;
}
header {
    background-image: url(hero.jpg);
    background-size:cover;
}
.head-line{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    width: 1024px;
    margin: 0 auto;
}
.head-line__logo{
    width: 100px;
    height: 100px;
}
.head-line__icon{
    width: 15px;
}
.head-line__navigation{
    font-family: 'Nunito Sans', sans-serif;
    display:flex;
    gap: 30px;
}
.head-line__contacts{
    
    display: flex;
    gap:15px;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
}
.main-text{
    width: 400px;
    margin-top:150px;
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color:var(--primary-color);
    text-align: left;
}
    .little-text{
        margin-top: 30px;
        width:400px;
        font-family: 'Nunito Sans', sans-serif;
        color:#78716c;
        font-size: 20px;
        font-weight: 100;
    }
    .button-box__button{
        width: 300px;
        margin-top: 50px;
        background-color: #ea580c;
        color:#fafaf9;
        padding: 25px;
        font-size:20px ;
        border-radius: 20px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        box-shadow: 1px 1px 4px #d6d3d1;
        

    }
    .button-box{
        padding-bottom: 200px;
    }
    .benefits-box__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        font-family:'Nunito Sans', sans-serif;
        padding: 50px 0px 50px 0px;
        margin: 50px 0px 50px 0px;
        text-align: center;
    
    }
    .benefits-box__items{
        display: flex;
        gap: 40px;
    }
    .benefits-box__item{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(245, 244, 246);
        border-radius: 5px;
        padding: 20px 0px 20px 0px;
        margin-bottom: 100px;
        
    
    }
    .benefits-box__item-title{
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        margin:20px 0px 10px 0px;
        color:#44403c;
    }

    .benefits-box__item-text{
        font-size: 17px;
        font-family: 'Nunito Sans', sans-serif;
        color: #78716c;
        margin:10px 0px 10px 0px;
        padding:10px 20px 10px 20px;
    }
    .benefits-box__item-icon{
        width: 30px;
        background-color: #f97316;
        padding: 10px;
        border-radius: 10px;
    }
    .group-people{
        display: flex;
        padding: 50px 0px 50px 0px;
    
    }
    .group-people__textbox{
        display:flex;
        flex-direction: column;
        width: 500px;
        gap:30px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .group-people__text{
        margin-top: 20px;
        font-size: 17px;
        color: #78716c;
    }
    .group-people__title{
        color:var(--primary-color);
        font-size: 30px;
        font-weight: 600;
        font-family:'Nunito Sans', sans-serif;
        margin: 50px 0px px 0px;
    }
    .group-people__image{
        width: 500px;
        margin-left: 50px;
    }
    .form-container{
        background-color: #FFEDD5;
        padding:50px 0px 50px 0px;
    }
    .title{
    color:var(--primary-color);
        font-size: 30px;
        font-weight: 600;
        font-family:'Nunito Sans', sans-serif;
        margin: 50px 0px 20px 0px;
        text-align: center;
    }
    .form-container__text{
        font-family: 'Nunito Sans', sans-serif;
        color:#78716c;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        margin: 0 auto;
    
    }
    .form-container__items{
        display:flex;
        padding:50px 0px 50px 0px;
        justify-content:center;
        align-items: center;
    }
    .form-container__item {
        width: 250px;
        height: 40px;
        border-radius: 10px;
        border-color:#fafaf9;
        margin: 20px;
    }
    ::placeholder{
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
    }
    .form-container__button{
        background-color: #ea580c;
        color:#fafaf9;
        font-size:20px ;
        border-radius: 10px;
        border-color:#fafaf9;
        font-family: 'Nunito Sans', sans-serif;
        font-weight:500;
        box-shadow: 1px 1px 4px #d6d3d1;
        height: 40px;

    }
    .form-container__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        font-family:'Nunito Sans', sans-serif;
        margin: 100px 0px 20px 0px;
        text-align: center;

    }
    .feedback-container__feedbacks{
        width: 600px;
        margin: 0 auto;
        padding-bottom: 100px;
        
    }
    .feedback-container__feedback{
        display:flex;
        flex-direction: column;
        border-bottom: #d6d3d1;
        border-bottom-style: solid;
        
    }
    .feedback-container__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        font-family:'Nunito Sans', sans-serif;
        padding: 50px 0px 50px 0px;
        margin: 50px 0px 50px 0px;
        text-align: center;
    }
    .feedback-container__name{
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        margin:20px 0px 10px 0px;
        color:#44403c;
    }
    .feedback-container__text{
        font-size: 16px;
        font-family: 'Nunito Sans', sans-serif;
        color: #78716c;
        padding-bottom: 30px;    }




