html{
    --primary-color:#1c1917;
    --primary-color2:#f97316;
    
}

header {
    background-image: url(images/hero.jpg);
    background-size:cover;
}
.head-line{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    width: 1024px;
    margin: 0 auto;
}
.head-line__logo{
    width: 100px;
    height: 100px;
}
.head-line__icon{
    width: 15px;
}
.head-line__navigation{
    display:flex;
    gap: 30px;
}
.head-line__contacts{
    
    display: flex;
    gap:15px;
    align-items: center;
}
.tarifflink{
    text-decoration: none;
    color:#44403c;
    
}
.tarifflink:hover{
    color: var(--primary-color2);

}

.feedbacklink{
    color:#44403c;
    text-decoration: none;
}
.feedbacklink:hover{
    color: var(--primary-color2);
    
}


.main-text{
    width: 400px;
    margin-top:150px;
    font-size: 50px;
    
    font-weight: 600;
    color:var(--primary-color);
    text-align: left;
}
    .little-text{
        margin-top: 30px;
        width:400px;
        color:#78716c;
        font-size: 20px;
        font-weight: 100;
    }
    .button-box__button{
        width: 300px;
        margin-top: 50px;
        background-color: #ea580c;
        color:#fafaf9;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px #d6d3d1;

    }
   
    .button-box__link{
        text-decoration: none;
        font-size:20px;
        font-weight: 300px;
        text-align: center;
        color:#fafaf9;

    }
    .button-box__link:hover{
        text-decoration: none;
        color:#44403c;
        
    }
    .button-box{
        padding-bottom: 200px;
    }
    .benefits-box__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        padding: 50px 0px 50px 0px;
        margin: 50px 0px 50px 0px;
        text-align: center;
    
    }
    .benefits-box__items{
        display: flex;
        gap: 40px;
        margin-bottom: 100px;
    }
    .benefits-box__item{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(245, 244, 246);
        border-radius: 5px;
        padding: 20px 0px 20px 0px;
        
        
    
    }
    .benefits-box__item-title{
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        margin:20px 0px 10px 0px;
        color:#44403c;
    }

    .benefits-box__item-text{
        font-size: 17px;
        color: #78716c;
        margin:10px 0px 10px 0px;
        padding:10px 20px 10px 20px;
    }
    .benefits-box__item-icon{
        width: 30px;
        background-color: var(--primary-color2);
        padding: 10px;
        border-radius: 10px;
    }
    .group-people{
        display: flex;
        padding: 50px 0px 50px 0px;
    
    }
    .group-people__textbox{
        display:flex;
        flex-direction: column;
        width: 500px;
        gap:30px;
    }
    .group-people__text{
        margin-top: 20px;
        font-size: 17px;
        color: #78716c;
    }
    .group-people__title{
        color:var(--primary-color);
        font-size: 30px;
        font-weight: 600;
        margin: 50px 0px px 0px;
    }
    .group-people__image{
        width: 500px;
        margin-left: 50px;
    }
    .form-container{
        background-color: #FFEDD5;
        padding:50px 0px 50px 0px;
    }
    .form-container__title{
    color:var(--primary-color);
        font-size: 30px;
        font-weight: 600;
        margin: 50px 0px 20px 0px;
        text-align: center;
    }
    .form-container__text{
        color:#78716c;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        margin: 0 auto;
    
    }
    .form-container__items{
        display:flex;
        padding:50px 0px 50px 0px;
        justify-content:center;
        align-items: center;
    }
    .form-container__item {
        width: 250px;
        height: 40px;
        border-radius: 10px;
        border-color:#fafaf9;
        margin: 20px;
    }
    .form-container__item:focus{
        outline: 3px var(--primary-color2) solid;
        border:none;
    }
    ::placeholder{
        font-size: 18px;
    }
    .form-container__button{
        background-color: #ea580c;
        color:#fafaf9;
        font-size:20px ;
        border-radius: 10px;
        border-color:#fafaf9;
        font-weight:500;
        box-shadow: 1px 1px 4px #d6d3d1;
        height: 40px;

    }
    .form-container__button:hover{
        color:#44403c;
    }
    .form-container__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        margin: 100px 0px 20px 0px;
        text-align: center;

    }
    .feedback-container__feedbacks{
        width: 600px;
        margin: 0 auto;
        padding-bottom: 100px;
        
    }
    .feedback-container__feedback{
        display:flex;
        flex-direction: column;
        border-bottom: #d6d3d1;
        border-bottom-style: solid;
        
    }
    .feedback-container__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        padding: 50px 0px 50px 0px;
        margin: 50px 0px 50px 0px;
        text-align: center;
    }
    .feedback-container__name{
        font-size: 20px;
        margin:20px 0px 10px 0px;
        color:#44403c;
    }
    .feedback-container__text{
        font-size: 16px;
        color: #78716c;
        padding-bottom: 30px;
    }
    .tariff-container{
        margin:0 auto;
        padding-bottom: 100px;
    }
    .tariff-container__items{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-top: 50px 0px;
        margin: 0 auto;
        flex-grow: 4;
    }
    .tariff-container__box{
        display: flex;
        flex-direction: column;
        border: 1px solid #E7E5E4;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        box-sizing: border-box;
        justify-content: space-between;
        height: 300px;
    }

    .tariff-container__title{
        color:var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        padding-top: 50px;
        text-align: center;
        margin-bottom: 50px;

    }
    .rate-details{
        margin:10px 0px 30px 0px;
    }

    .rate-title{
        color: var(--primary-color2);
        font-size: 20px;

    }
    .rate-price{
        font-size: 22px;
        margin: 10px 0px 20px 0px;
    
    }
    .rate-detail{
        display: flex;
        font-size: 16px;
        color: #78716c;
        box-sizing: border-box;
    }
    .rate-button{
        background-color: #ffedd5;
        color:var(--primary-color2);
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        font-weight: 500;
        transition: all 500ms;
    }
    .rate-button:hover{
        background-color: var(--primary-color2);
        color:aliceblue;
        cursor: pointer;
    }
    
    .rate-detail__icon{
        width: 20px;
        height: 20px;
        color: #65A30D;
        margin-right: 5px;
    }

    .landing-footer{
        background-color:#d6d3d1;
        padding: 60px;
        display: flex;

    }
    .footer-container{
        display: flex;
        justify-content: space-between;
    }
    .phone-number{
        display: flex;
        align-items: center;
        color:#78716c;
        box-sizing: border-box;
    }
    .phone-number__icon{
        width: 20px;
        margin-right: 10px;
    }
    .icons-container{
        display:flex;
        
    }
    .icons-container__item{
        width: 20px;
        margin-left: 10px;
    }
    .email-container{
        color: #78716c;
    }
    .icon:hover {
        color:#1c1917;
    }
    




